<nav class="tc" role="navigation">
    <div class="flex ba mb4">
    {{#if prev}}
        <a class="w-100 pv2 ph2 no-underline black-80 b roboto-mono flex f6 justify-center" href="{{page_url prev}}">
          <svg class="mr2" style="height: 16px; width: 16px; fill: currentColor; transform: rotate(180deg)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 294.997 294.997">
            <path d="M286.36 98.016c-13.223-37.09-40.098-66.813-75.675-83.69-35.576-16.88-75.597-18.893-112.688-5.67C60.907 21.88 31.183 48.754 14.305 84.33-2.572 119.91-4.585 159.93 8.637 197.02c1.113 3.122 4.547 4.748 7.667 3.637 3.122-1.113 4.75-4.545 3.637-7.667-12.146-34.072-10.297-70.835 5.207-103.516s42.807-57.37 76.88-69.515c34.07-12.147 70.835-10.297 103.515 5.206 32.682 15.504 57.37 42.807 69.516 76.88 12.146 34.07 10.297 70.834-5.207 103.515s-42.806 57.37-76.878 69.516c-38.19 13.613-80.082 9.493-114.935-11.304-2.848-1.7-6.53-.768-8.227 2.078-1.698 2.846-.768 6.53 2.078 8.227 23.207 13.848 49.276 20.903 75.54 20.902 16.675 0 33.43-2.846 49.573-8.6 37.093-13.223 66.814-40.098 83.692-75.675 16.878-35.578 18.89-75.598 5.668-112.69z"/><path d="M213.5 147.518c0-3.313-2.688-6-6-6H58.07c-3.315 0-6 2.687-6 6s2.685 6 6 6H207.5c3.312 0 6-2.687 6-6z"/><path d="M165.686 210.275c-2.344 2.343-2.344 6.142 0 8.485 1.17 1.17 2.707 1.757 4.242 1.757s3.07-.586 4.242-1.757l67-67c2.344-2.343 2.344-6.142 0-8.485l-67-67c-2.342-2.343-6.143-2.343-8.484 0-2.344 2.343-2.344 6.142 0 8.485l62.757 62.757-62.757 62.758z"></path>
          </svg>
          Newer Posts
        </a>
    {{/if}}
    {{#if next}}
        <a class="w-100 pv2 ph2 no-underline black-80 b roboto-mono flex f6 justify-center" href="{{page_url next}}">
          Older Posts
          <svg class="ml2" style="height: 16px; width: 16px; fill: currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 294.997 294.997">
            <path d="M286.36 98.016c-13.223-37.09-40.098-66.813-75.675-83.69-35.576-16.88-75.597-18.893-112.688-5.67C60.907 21.88 31.183 48.754 14.305 84.33-2.572 119.91-4.585 159.93 8.637 197.02c1.113 3.122 4.547 4.748 7.667 3.637 3.122-1.113 4.75-4.545 3.637-7.667-12.146-34.072-10.297-70.835 5.207-103.516s42.807-57.37 76.88-69.515c34.07-12.147 70.835-10.297 103.515 5.206 32.682 15.504 57.37 42.807 69.516 76.88 12.146 34.07 10.297 70.834-5.207 103.515s-42.806 57.37-76.878 69.516c-38.19 13.613-80.082 9.493-114.935-11.304-2.848-1.7-6.53-.768-8.227 2.078-1.698 2.846-.768 6.53 2.078 8.227 23.207 13.848 49.276 20.903 75.54 20.902 16.675 0 33.43-2.846 49.573-8.6 37.093-13.223 66.814-40.098 83.692-75.675 16.878-35.578 18.89-75.598 5.668-112.69z"/><path d="M213.5 147.518c0-3.313-2.688-6-6-6H58.07c-3.315 0-6 2.687-6 6s2.685 6 6 6H207.5c3.312 0 6-2.687 6-6z"/><path d="M165.686 210.275c-2.344 2.343-2.344 6.142 0 8.485 1.17 1.17 2.707 1.757 4.242 1.757s3.07-.586 4.242-1.757l67-67c2.344-2.343 2.344-6.142 0-8.485l-67-67c-2.342-2.343-6.143-2.343-8.484 0-2.344 2.343-2.344 6.142 0 8.485l62.757 62.757-62.757 62.758z"></path>
          </svg>
        </a>
    {{/if}}
    </div>
    <div class="mb2 roboto-mono f6">Page {{page}} of {{pages}}</div>
</nav>
