{{!< default}}

<header class="pa3 bb mb3 h4 flex items-end">
  <div>
    <h1 class="ma0 f3 rubik">Tags</h1>
    <p class="lh-copy measure ma0 roboto-mono">All tags applied in this blog</p>
  </div>
</header>

{{#post}}
  <main class="ph3">
    <tag-list></tag-list>
  </main>
{{/post}}
