{{!< default}}

<header class="pa3 bb mb3 h4 flex items-end">
  <div>
    <h1 class="ma0 f3 rubik">Blog Archive</h1>
    <p class="lh-copy measure ma0 roboto-mono">You can search all posts here</p>
  </div>
</header>

<main class="ph3">
  <blog-archive></blog-archive>
</main>
